body {
  width: 100vw;
}

.logo img {
  width: 150px;
}

.last-menu {
  margin-right: 30px;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.heart img {
  width: 30px;
  position: absolute;
  top: 15px;
  right: 20px;
}

.one-recipe {
  position: relative;
}

.list-in-one-card {
  display: inline-flex;
  color: red;
}

.btn-fav {
  margin-left: 20%;
}

.navbar-toggler-icon {
  margin-left: 50%;
}

.btn-active-custom {
  background: #BCBEC0;
}